@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
    background-image: url("fundo_sportv.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;
}

div#fundinho{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(6px);

}

div#textos{
    display: inline-block;
    color: white;

    max-width: 800px;
    padding: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img#ima{
    width: 30%;
    min-width: 300px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button#btn{
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

div#capa{
    background-color:#23272a ;
    display: none;
    width: 90%;
    height: 50%;
    min-height: 320px;

    max-width: 400px;
    max-height: 330px;
    padding: 10px;


    color: white;
    font-weight: bolder;
    border-radius: 20px;

    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

}
label{
    display: block;
    font-size: 0.9em;
    margin-bottom: 4px;
    color: rgb(213, 206, 206);
    font-family:'Nunito Sans'
}
input{
    background-color: #0f1011;
    border-radius: 5px;
    border-color: black;
    border: 2px;
    color: white;

    width: 80%;
    height: 30px;
}
div#username{
    margin-top: 20px;
    margin-bottom: 20px;
    

}

div.dados{
    margin-left: 30px;
}

input#envia{
    background-color: #5865F2;
    color: whitesmoke;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    border-color: #5865F2;
    border-radius: 4px;

    width: 80%;
    height: 30px;
}
input#envia:hover{
    background-color: #4856f0;
}

img#perfil{
    width: 100px;
    border-radius: 100px;

    position: relative;
    left: 50%;

    transform: translateX(-50%);
}

div#verifica{
    display: none;
    background-color:#23272a ;
    width: 90%;
    height: 10%;
    min-height: 180px;

    max-width: 400px;
    max-height: 180px;
    padding: 10px;


    color: white;
    font-weight: bolder;
    border-radius: 20px;

    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}
label#l_veri{
    text-align: center;
    position: relative;
    top: 30%;

    transform: translateY(-50%);
}
input#iveri{
    padding: 1px;
    font-size: 0.9em;
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    padding-left: 3px;
}
input#apanha{
    color: white;
    font-weight: bolder;
    background-color: #5865F2;

    margin-top: 15px;
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

input#apanha:hover{
    background-color: #4856f0;
}
form#outro{
    display: block;
    height: 100%;
    width: 100%;
}

